/* ----------BASE STYLE---------- */

:root {
    --primary-color:  #3f5f39;
    --secondary-color: #fff;
    --accent-color: #cbe3ca;
    --text-color: #fff;
    --secondary-text-color: #000;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    background: rgb(63,95,57);
    background: linear-gradient(151deg, rgba(63,95,57,1) 0%, rgba(143,161,142,1) 48%, rgba(63,95,57,1) 100%);
    color: var(--secondary-color);
}

/* ----------BASE STYLE---------- */

/* ----------FIRST LAYER---------- */

header {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 5rem;
}

main {
    flex: 7;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------FIRST LAYER---------- */

/* ----------MAIN CONTENT---------- */

.control_pane {
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.draw_pane {
    flex: 7;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ----------MAIN CONTENT---------- */

/* ----------CONTROL PANE---------- */

.control_pane__controls {
    flex: 1;
    max-height: 80%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 15px 1px var(--accent-color);
    background-color: var(--secondary-color);
}

.control_pane__controls__palet {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.control_pane__controls__palet__title {
    flex: 1;
    color: var(--secondary-text-color);
}

.control_pane__controls__pentype {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pentype__selector {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pentype__dimmer {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pentype__dimmer__title {
    flex: 1;
    color: var(--secondary-text-color);
}

.pentype__dimmer__buttons {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.control_pane__controls__board {
    flex: .5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.control_pane__controls__button {
    width: 40%;
    height: 55%;
    border-radius: 10px;
    border: 2px solid var(--secondary-text-color);
    box-shadow: 0 0 15px 1px var(--accent-color);
    background-color: var(--secondary-color);
}

/* ----------CONTROL PANE---------- */